.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin: 40px;
}
.projects1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin: 40px;
}
.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  border: 2px solid gray;
  transition: 0.5s;
  align-items: center;
  border-radius: 20px;
}
.flip-box2 {
  height: 260px;
  width: 350px;
  border: 2px solid gray;
  perspective: 1000px;
  padding: 10px;
  border-radius: 10px;
}
.flip-box-inner2 {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.flip-box2:hover .flip-box-inner2 {
  transform: rotateY(180deg);
}
.flip-box2:focus .flip-box-inner2 {
  transform: rotateY(180deg);
}
.front-view,
.back-view {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.front-view {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.back-view {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  transform: rotateY(180deg);
}
.project:hover {
  transform: scale(1.03);
  border: 2px solid white;
}
.image {
  border-radius: 10px;
  height: 200px;
  width: 300px;
}
.heading {
  text-align: center;
  margin-top: 5%;
}
.heading h2 {
  font-size: 42px;
  font-weight: 800;
}
@media (max-width: 768px) {
  .heading h2 {
    font-size: 36px;
    font-weight: 600;
  }
  .heading p {
    font-size: 16px;
  }
  .projects {
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin: 10px;
  }
  .projects1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
  }
  .image {
    height: 120px;
    width: 180px;
  }
}
