.heading {
  text-align: center;
}
.connecting {
  display: flex;
  flex-direction: column;
  padding: 2%;
  margin: 30px;
  border: 2px solid gray;
  border-radius: 10px;
}
.connecting:hover {
  box-shadow: 0px 0px 10px gray;
}
.contact {
  display: flex;
  flex-direction: row;
  margin: 5px;
  padding: 5px;
  font-size: 24px;
  font-weight: 500;
}
.contactDetails {
  display: flex;
  gap: 30px;
}
.form {
  display: flex;
  flex-direction: column;
  padding: 4%;
  border: 2px solid gray;
  margin: 20px;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 500;
  min-width: 400px;
}
.form:hover {
  box-shadow: 0px 0px 10px gray;
}
.form input {
  width: 300px;
  height: 40px;
  border-radius: 6px;
  background-color: white;
  border: 0.5px solid gray;
  margin: 5px;
  color: black;
  font-size: large;
  font-weight: 400;
}
.form textarea {
  background-color: white;
  border: 0.5px solid gray;
  border-radius: 6px;
  min-height: 100px;
  margin: 5px 1px 9px 1px;
  color: black;
}
.submit {
  width: 200px;
  height: 30px;
  border: 2px solid gray;
  background-color: white;
  color: black;
  border-radius: 10px;
  transition: 0.3s;
}
.submit:hover {
  transform: scale(1.03);
  box-shadow: 0px 0px 5px gray;
}
.refresh {
  margin-left: 20px;
  margin-top: 8px;
  box-shadow: 0px 0px 5px white;
  transition: 0.2s;
}
.refresh:hover {
  transform: scale(1.02);
}
.location {
  text-decoration: underline;
  color: white;
}
.location:hover,
.location:focus {
  color: blue;
}
@media (max-width: 768px) {
  .contactDetails {
    flex-direction: column;
    gap: 10px;
  }
  .connecting {
    overflow: scroll;
  }
  .form {
    margin: 15px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 300;
    min-width: 380px;
  }
  .contact {
    margin: 5px;
    padding: 5px;
    font-size: 18px;
    font-weight: 300;
  }
  .form input {
    width: 240px;
    height: 30px;
    border-radius: 5px;
    margin: 5px;
    color: white;
    font-size: 15px;
    font-weight: 300;
  }
  .form textarea {
    border-radius: 5px;
    min-height: 80px;
    margin: 5px 10px 8px 1px;
    color: white;
  }
  .submit {
    width: 150px;
    height: 30px;
    border: 1px solid white;
    transition: 0.3s;
  }
}
